.home{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;

}

.settings{
    color: rgb(150, 64, 124);
    justify-content: center;
    font-size: 2.5rem;
}
.btn{
    width: 100%;
    margin-bottom: 3rem;
    
  
}
