@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body{
  background-image: url('n.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
a{
  text-decoration: inherit;
  color: inherit;
}